# Указывает, что пакеты с префиксом @happ-manager будут использовать GitHub Packages
@happ-manager:registry=https://npm.pkg.github.com

# Токен для аутентификации с GitHub Packages
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
